@model IEnumerable<VetClinic.Domain.Pet>

<!-- Page Heading -->
<div class="row">
	<div class="col-lg-4">
		<h1 class="page-header">
			Patients
			<!--<small>Secondary Text</small>-->
		</h1>
	</div>
	<div class="col-lg-8">
		<form role="search" method="GET" class="page-header" action="#">
			<div class="row form-group">
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="Search" name="SearchString">
				</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-block" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /.row -->

@foreach (var pet in Model)
{
	<div class="row">
		<div class="col-md-7">
			<a href="#">
				<img class="img-responsive" src="../../Data/PetImages/@pet.Image" alt="">
			</a>
		</div>
		<div class="col-md-5">
			<h3>Medical Record: <span>@pet.Id</span></h3>
			<h4>Name: <span>@pet.Name</span> </h4>
			<h4>Age: <span>@(DateTime.Now.Year - pet.Birthday.Year)</span> </h4>
			<h4>Sex: <span>@pet.Sex</span> </h4>
			<h4>Type: <span>@pet.Kind</span> </h4>
			<h4>Description:</h4>
			<p>@pet.Description</p>
			<a class="btn btn-primary" href="#">View Medical Chart<span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
	<hr>
	<!-- /.row -->
}