<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Vet Clinic</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top no-margin-bottop" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="" href="~/">
					<!--Start Bootstrap-->
					<img id="logo" src="~/Content/img/vet-logo-2.svg" />
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-right navbar-nav na">
					<li class="@(Request.Path.Contains("Create") ? "active" : "")">
						@Html.ActionLink("New Patient", "Create", "Patients")
					</li>
					<li class="@(Request.Path == "/" ? "active" : "")">
						@Html.ActionLink("Patients", "Index", "Patients")
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- Page Content -->
	<div class="container">

		@RenderBody()

		<hr>
		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Veb Clinic 2016</p>
					<p>Logo designed by <a href="http://www.freepik.com/free-vector/vet-clinic-logo-templates_837799.htm">Freepik</a></p>
				</div>
			</div>
			<!-- /.row -->
		</footer>
	</div>
	<!-- /.container -->
</body>
</html>